html, body {
    margin: 0;
    padding: 0;
}
p {
  font-family:'Times New Roman', Times, serif;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-image: url(../backgroundimages/Forestpage.png);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    display: flex;
    background-color: lightskyblue;
    width: 100%;
    height: 70px;
    justify-content: center;
    align-items: center;
}
.page {
    display: none;
}
.active {
    display: block;
}
#gameContent{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    box-shadow: 0 0 50px darkgrey;
}
.box {
    display:flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    background-color: lightblue;
    width: 740px;
    height: 450px;

}
.pageImg
{
  background-position: center;
}
.storyImg {
  justify-content: center;
}

.storyBox {
  position: absolute;
  bottom: 0;
  background-color: rgba(245, 245, 245, 0.623);
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  font-weight: 600;
}

#caves {
    background-color: rgba(165, 97, 42, 0.764);
}

#cavesimg {
    background-color: white;
    background-image: url(../backgroundimages/Cavepage.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;

}

#startimg {
    background-color: white;
    background-image: url(../backgroundimages/Start.png);
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
}

#forestimg {
  background-color: white;
  background-image: url(../backgroundimages/Forest\ Page.png);
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
}

#riverimg {
  background-color: white;
  background-image: url(../backgroundimages/Forest\ River.png);
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
}

#gnomeImg {
  background-color: white;
  background-image: url(../backgroundimages/Mine\ Gnomes\ Room.png);
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
}

#forest {
    background-color: lightgreen;
}

#bossRoomImg {
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url(../backgroundimages/BossRoom.png);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  /* justify-content: center; */
  padding-top: 10px;
}

#bossRoomImg h2 {
  color: white;
  font-size: 40px;
}

#inventory {
  border: 2px solid black;
  background-color: lightsteelblue;
  padding-left: 10px;
}

#bossPage .box img
{
    height: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.onHitEffect
{
    animation: onHitEffect 0.5s;
    animation-iteration-count: 1;
}

@keyframes onHitEffect 
{
    0% { transform: translate(15px, 15px) rotate(0deg); }
    10% { transform: translate(-10px, -17px) rotate(-1deg); }
    20% { transform: translate(-14px, 5px) rotate(1deg); }
    30% { transform: translate(10px, 13px) rotate(0deg); }
    40% { transform: translate(7px, -7px) rotate(1deg); }
    50% { transform: translate(-5px, 6px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}


#health
{
    color:red;
}


.onDeathEffect
{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
    animation: onDeathEffect 2.0s;
    animation-iteration-count: 1;
}

@keyframes onDeathEffect
{
    0% {transform: translate(18px, -20px)}
    10% {transform: translate(-16px, -20px)}
    20% {transform: translate(16px, -20px)}
    30% {transform: translate(-17px, -20px)}
    40% {transform: translate(19px, -20px)}
    50% {transform: translate(-15px, -20px)}
    60% {transform: translate(22px, -20px)}
    70% {transform: translate(-18px, -20px)}
    80% {transform: translate(20px, -20px)}
    90% {transform: translate(-26px, -20px)}
    100% {transform: translate(30px, -20px)}
}

.buttonContainer {
  border: 1px solid black;
  background: radial-gradient(circle, #c9a198, #a1673a);
  height: 75px;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

/* General button styles */
button {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(20, 30, 30, 0.842);
}

.gosecond {
  background: linear-gradient(45deg, #237644, #21583e);
  color: white;
  box-shadow: 0 0 8px rgba(168, 213, 186, 0.3);
}

.gosecond:hover {
  background: linear-gradient(45deg, #1aa54f, #277846);
  transform: scale(1.1);
}

.gothird {
  background: linear-gradient(45deg, #8B4513, #6B3E2F); 
  color: white;
  box-shadow: 0 4px 8px rgba(139, 69, 19, 0.3);
}

.gothird:hover {
  background: linear-gradient(45deg, #5C4033, #4A2C1D); 
  transform: scale(1.1);
}

.gofirst {
  background-color: red;
  border: 2px solid black;
  color: black;
  font-weight: bold;
}

.gofirst:hover {
  background-color: rgb(18, 184, 18);
  color: white;
  box-shadow: 0 0 10px #4df756, 0 0 20px #50f74d, 0 0 40px #4df74d;
  border: 2px solid white;
}

.gofifth {
  background-color: deepskyblue;
  color: white;
}

.goRps {
  background-color: #21583e;
  color: white;
}

.goBoss {
color: white; 
text-align: center; 
text-decoration: none; 
background: linear-gradient(45deg, red, rgb(102, 8, 8)); 
border: 2px solid rgb(113, 5, 5); 
border-radius: 10px; 
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); transition: transform 0.2s, box-shadow 0.2s; 
cursor: pointer;
}

.goBoss:hover {
  transform: scale(1.1); box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2)
}


#bossPage .box
{
  height: 650px;
}

#bossFightLose
{
  display: none;
  position: absolute;
  background-image: url("../backgroundimages/you\ died.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  min-height: 150%;
}

.onBossLose
{
  animation: onBossLoseEffect 2s ease-in-out;
}

@keyframes onBossLoseEffect {
  0%
  {
    opacity: 0;
  }
  100%
  {
    opacity: 1;
  }
}

#powerUp {
  font-size: 30px;
  font-family:'Times New Roman', Times, serif;
  font-weight: 600;
}
