#rpsPage .box h2
{
    margin-bottom: auto;
    text-align: center;
}
#rpsPage #rpsButtons
{
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
    height: 100px;
}

#rpsPage #rpsImage
{
    display: flex;
    
}